<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Vue App</title>
    <!-- Підключення Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app"></div>

<!-- Ваш компонент Vue -->
<script src="../static/App.vue" type="text/x-template"></script>

<!-- Ініціалізація Vue -->
<script>
    new Vue({
        el: '#app',
        render: h => h({ template: '#app-template' }),
    });
</script>

</body>
</html>
